{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>S'inscrire</h1>

    <form>
        {{ form_start(registrationForm) }}
            {% form_theme registrationForm 'forms/fields.twig' %}

            {{ form_row(registrationForm.emailUser) }}
            {{ form_row(registrationForm.pseudoUser) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}

            {% form_theme registrationForm.agreeTerms 'forms/terms.twig' %}

            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-lg btn-primary btn-submit">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </form>

{% endblock %}
