{% extends 'base.html.twig' %}

{% block title %}{{topic}}{% endblock %}

{% block body %}

    <h1>{{topic}}</h1>

    <a href="{{path('show_categorie', {'id':topic.categorie.id})}}"><- {{topic.categorie}}</a><br><br><br>

    {% for post in topic.posts %}

        {{post.auteur}}<br>
        {{post.datePost | date("d-m-Y, G:i:s")}}<br>
        {{post.textePost}}<br>
        <br>

    {% endfor %}


{% endblock %}