{% extends 'base.html.twig' %}

{% block title %}{{topic}}{% endblock %}

{% block body %}

    <h1>{{topic}}</h1>

    <a href="{{path('show_categorie', {'id':topic.categorie.id})}}"><- {{topic.categorie}}</a><br><br><br>

    {% for post in topic.posts %}

        {{post.auteur}}<br>
        {{post.datePost | date("d-m-Y, G:i:s")}}<br>
        {{post.textePost}}<br>
        {% if app.user == post.auteur %}
            <a href="{{path('edit_post', {'idpost':post.id,'idtopic':topic.id })}}">Editer</a> - <a href="{{path('delete_post', {'id':post.id})}}">Supprimer</a> <br>
        {% endif %}
        <br>

    {% endfor %}
    <br>

    {% if topic.verrouTopic %}
        [TOPIC VERROUILLÉ]
    {% elseif topic.resoluTopic %}
        [TOPIC RÉSOLU]
    {% else %}
        <a href="{{path('respond_topic', {'idtopic':topic.id})}}">Répondre</a>
    {% endif %}


{% endblock %}