{% extends 'base.html.twig' %}

{% block title %}{{categorie}}{% endblock %}

{% block body %}

    <h1>{{categorie}}</h1>

    {% if categorie.topics | length != 0 %}

        {% for topic in categorie.topics %}

            {{topic}}<br>
            par {{topic.auteur}}<br>
            le {{topic.dateTopic | date("d-m-Y")}}<br>
            <br>

        {% endfor %}

    {% else %}
        Aucun topic dans cette catégorie pour le moment
    {% endif %}


{% endblock %}