{% extends 'base.html.twig' %}

{% block title %}{{categorie}}{% endblock %}

{% block body %}

    <h1>{{categorie}}</h1>

    <a href="{{path('add_topic', {'id':categorie.id})}}">Nouveau topic</a><br><br><br>

    {% if categorie.topics | length != 0 %}

        {% for topic in categorie.topics %}

            <a href="{{path('show_topic', {'id':topic.id})}}">{{topic}}</a><br>
            {{topic.dateTopic | date("d-m-Y, G:i:s")}} - {{topic.auteur}} - {{topic.posts | length}} réponses<br>
            <br>

        {% endfor %}

    {% else %}
        Aucun topic dans cette catégorie pour le moment
    {% endif %}


{% endblock %}