{% extends 'base.html.twig' %}

{% block title %}{{categorie}}{% endblock %}

{% block body %}

    <h1>{{categorie}}</h1>
    
    <a href="{{path('app_categorie')}}"><- Catégories</a><br><br><br>

    <a href="{{path('add_topic', {'id':categorie.id})}}">Nouveau topic</a><br><br><br>

    {% if categorie.topics | length != 0 %}

        {% for topic in categorie.topics %}

            <a href="{{path('show_topic', {'id':topic.id})}}">{{topic}}</a>
            {% if topic.verrouTopic %}
                [VERROUILLÉ]
            {% endif %}
            {% if topic.resoluTopic %}
                 [RÉSOLU]
            {% endif %}
            <br>
            {{topic.dateTopic | date("d-m-Y, G:i:s")}} - {{topic.auteur}} - {{topic.posts | length}} réponses<br>
            <a href="{{path('edit_topic', {'id':topic.id})}}">Éditer</a> - <a href="{{path('delete_topic', {'id':topic.id})}}">Supprimer</a> 
            {% if not topic.resoluTopic %}
                {% if topic.verrouTopic %}
                    - <a href="{{path('unlock_topic', {'id':topic.id})}}">Déverrouiller</a>
                {% else %}
                    - <a href="{{path('lock_topic', {'id':topic.id})}}">Verrouiller</a>
                {% endif %}
            {% endif %}

            {% if not topic.verrouTopic %}
                {% if topic.resoluTopic %}
                     - <a href="{{path('unresolve_topic', {'id':topic.id})}}">Marquer non résolu</a>
                {% else %}
                     - <a href="{{path('resolve_topic', {'id':topic.id})}}">Marquer résolu</a>
                {% endif %}
            {% endif %}
            <br><br>

        {% endfor %}

    {% else %}
        Aucun topic dans cette catégorie pour le moment
    {% endif %}


{% endblock %}