{% extends 'base.html.twig' %}

{% block title %}{{categorie}}{% endblock %}

{% block body %}

    <a class="btn btn-outline-primary btn-back" href="{{path('app_categorie')}}"><i class="fa-solid fa-arrow-left"></i> Catégories</a>

    <h1 class="titre">{{categorie}}</h1>
    
    <a class="btn btn-primary" href="{{path('add_topic', {'id':categorie.id})}}">Nouveau topic</a><br><br><br>

    {% if topics | length != 0 %}

        {% for topic in topics %}
        
            <div class="card border-primary mb-3" style="max-width: 40rem;">
                <div class="card-header">{{topic.auteur}}</div>
                <div class="card-body">
                    <h4 class="card-title">            
                        <a href="{{path('show_topic', {'id':topic.id})}}">{{topic}}</a>
                        {% if topic.verrouTopic %}
                            [VERROUILLÉ]
                        {% endif %}
                        {% if topic.resoluTopic %}
                            [RÉSOLU]
                        {% endif %}
                    </h4>
                    <p class="card-text">
                        {{topic.dateTopic | date("d-m-Y, G:i:s")}} - {{topic.posts | length}} <i class='fa-solid fa-message'></i><br>

                        {% if app.user == topic.auteur %}
                            <a href="{{path('edit_topic', {'id':topic.id})}}"><i class='fa-solid fa-pen-to-square'></i></a>&nbsp&nbsp
                            <a href="{{path('delete_topic', {'id':topic.id})}}"><i class='fa-solid fa-trash'></i></a> 
                            {% if not topic.resoluTopic %}
                                {% if topic.verrouTopic %}
                                    &nbsp&nbsp<a href="{{path('unlock_topic', {'id':topic.id})}}"><i class='fa-solid fa-lock-open'></i></a>
                                {% else %}
                                    &nbsp&nbsp<a href="{{path('lock_topic', {'id':topic.id})}}"><i class='fa-solid fa-lock'></i></a>
                                {% endif %}
                            {% endif %}

                            {% if not topic.verrouTopic %}
                                {% if topic.resoluTopic %}
                                    &nbsp&nbsp<a href="{{path('unresolve_topic', {'id':topic.id})}}"><i class="fa-regular fa-circle-question"></i></a>
                                {% else %}
                                    &nbsp&nbsp<a href="{{path('resolve_topic', {'id':topic.id})}}"><i class="fa-regular fa-circle-check"></i></i></a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div>
            <br>
        {% endfor %}

        <div class="pagination">
            {{ knp_pagination_render(topics) }}
        </div>

    {% else %}
        Aucun topic dans cette catégorie pour le moment
    {% endif %}


{% endblock %}